.h1 {
  text-align: center;
}
.h5 {
  margin-top: 450px;
}
.p {
  margin-top: 425px;
}
.image {
  margin-left: 300px;
  margin-top: 75px;
}
.image img {
  height: auto;
  width: auto;
  display: block;
  transition: transform 0.2s;
}
.image:hover img {
  transform: scale(1.5);
}
.title {
  margin-left: 10%;
  font-weight: bold;
  font-size: 20px;
}
.main {
  display: flex;
}
.secmain {
  padding-top: 350px;
}
